// fonts
$main-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font-color: #ccc;
$main-font-size: 1em;
$main-font-line-height: 1.6;
$main-font-weight: 400;

// colors
$main-background-color: #353535;

// margins

// paddings
$main-padding-top: 15px;

// navbar
$nav-background-color: #222;
$nav-brand-color: #ccc;
$nav-link-color: #ccc;

// growl
$growl-success-color: #b5d6ac;
$growl-font-color: #383838;

// table
$row-selected-font-color: #fff;
$row-selected-background-color: #585858;
$secondary-background-color: #424242;