<div class="row form-group">
    <div class="col-md-12">
        <p-treeTable [value]="data" selectionMode="single" [(selection)]="selectedFile" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
            <p-column field="name" header="Path / Name"></p-column>
            <p-column field="content" header="Content"></p-column>
        </p-treeTable>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <content-form *ngIf="selectedContent" [content]="selectedContent"></content-form>
    </div>
</div>