@import "./../../../../assets/styles/variables";

.main-content {
    padding-top: 10px;
}

a:hover{
    cursor: pointer;
}

.navbar-container {
    background: $nav-background-color;
    border-bottom: 1px solid $nav-border-color;;
    padding: 0;
    height: $nav-header-height;
    .navbar {
      background: $nav-header-background-color;
      .navbar-brand {
        color: $nav-brand-color;
        font-weight: 500;
      }
      .nav-link {
        color: $nav-link-color;
      }
    }    
}

.sidebar{
  padding: 0;
}

