@import "./../../../../assets/styles/admin/variables";
@import "./../../../../assets/styles/admin/mixins";

.main-container {
    height: 95.9vh;
}

@media (min-width: 992px) {
  .main-container {
      height: 95.7vh;
  }
}

a:hover{
    cursor: pointer;
}

.navbar-container {
    background: $nav-background-color;
    border-bottom: 1px solid $main-font-color;
    .container {
      padding: 0;
      .navbar {
        background: $nav-background-color;
        .navbar-brand {
          color: $nav-brand-color;
          font-weight: 500;
        }
        .nav-link {
          color: $nav-link-color;
        }
      }    
    }
  }

