// fonts
$main-font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font-color: #ccc;
$main-font-size: 1em;
$main-font-line-height: 1.6;
$main-font-weight: 400;

// colors
$main-background-color: #353535;

// margins

// paddings
$main-padding-top: 15px;

// navbar
$nav-background-color: #222;
$nav-header-background-color: #1d1d1d;
$nav-brand-color: #ccc;
$nav-link-color: #ccc;
$nav-border-color: #888888;
$nav-active-background-color: #404040;
$nav-header-height: 57px;

// growl
$growl-success-color: #b5d6ac;
$growl-error-color: #ff9393;
$growl-font-color: #383838;

// table
$row-selected-font-color: #fff;
$row-selected-background-color: #585858;
$secondary-background-color: #424242;