@import "./admin/variables";

// wrapper for content
.main-container {
    padding-top: 15px;
    height: 100vh;
}

// admin icon
#admin-icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 5px;
  color: $main-font-color;
}

// admin-styles
.admin {
  .main-container{
    background: $main-background-color;
    color: $main-font-color;
    .edit-link {
      color: $main-font-color;
    }
  }
  hr{
    border-top: 1px solid $main-font-color;
  }
  .btn:focus, .btn:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

// ng-prime styles
.ui-growl {
    .ui-growl-message-success {
      background: $growl-success-color;
      color: $growl-font-color;
    }
    .ui-growl-message-error {
      background: $growl-error-color;
      color: $growl-font-color;
    }
}
.ui-treetable {
  tbody {
    background: $secondary-background-color;
  }
  thead th {
    background: $main-background-color;
    color: $main-font-color;
    border-width: 0;
    border-style: none; 
    text-align: left;
    padding: 0 0 15px 0;
  }
  td.ui-treetable-child-table-container {
    padding: 15px;
  }
}
.ui-treetable-tablewrapper {
  .ui-widget-content{
    background: $main-background-color;
  }
  .ui-state-highlight{
    background: $row-selected-background-color;
  } 
}
.ui-treetable{
 .ui-treetable-row{
   .ui-treetable-row-selectable:hover{
     color: $row-selected-font-color;
   }
   .ui-state-highlight{
     color: $row-selected-font-color;
   }
 }
}
.ui-treetable-toggler, .ui-treetable-toggler:hover, .ui-treetable-toggler:focus{
  color: $main-font-color;
}