@import "./admin/variables";

// wrapper for content
.main-container {
    padding-top: 15px;
    height: 100vh;
}

// admin icon
#admin-icon {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 5px;
  color: $main-font-color;
}

// admin-styles
.admin {
  .main-container{
    background: $main-background-color;
    color: $main-font-color;
    .edit-link {
      color: $main-font-color;
    }
  }
  hr{
    border-top: 1px solid $main-font-color;
  }
  .btn:focus, .btn:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

// ng-prime styles, testing
.ui-treetable {
  thead th {
    background: yellow !important;
  }
}
.ui-widget {}
.ui-treetable-tablewrapper {}
.ui-widget-content{
  background: $main-background-color !important;
}
.ui-state-default{}
.ui-unselectable-text{}
.ui-column-title{}
.ui-treetable-row {}
.ui-state-highlight{
  background: $main-background-color !important;
} 
.ui-treetable-row-selectable{}
.ui-treetable-child-table-container{}
.ui-treetable{
 .ui-treetable-row{
   .ui-treetable-row-selectable:not(.ui-state-highlight):hover{
     background: blue !important;
   }
 }
}