<div id="admin-icon">
    <a routerLink="/admin">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </a>
</div>
<div class="main-container">
    <!-- Make sure content has finished loading with ngIf -->
    <div class="container-fluid" *ngIf="contentService.contentLoaded">
        <h1 [ncEditable]="'h1-home'"></h1>
        <div [ncEditable]="'main-content-home'"></div>
        <div [ncEditable]="'secondary-content-home'"></div>
        <div [ncEditable]="'footer-home'"></div>
        <div [ncEditable]="'footer-home2'"></div>
        <div [ncEditable]="'footer-home3'"></div>
    </div>
</div>